{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'custom-css/one.css' %}">
    <link rel="stylesheet" href="{% static 'libs/swiper@8_swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin_support_chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <div class="chat_wrapper">
        <div class="admin_support_chat_wrapper"></div>
        <div class="support_chat_all_wrapper">
            <div class="support__chat-wrapper">
                <div class="support__top-plank">
                    <div class="support__top-plank-wrapper">
                        <span class="support_chat_top_block">Чат поддержки</span>
                        <div class="online-chat__header-rigth">
                            <span class="online-chat__torch"> </span>
                            <div id="onlineAdmin" class="online-chat__current"></div>
                        </div>
                    </div>
                </div>

                <ul class="support__chat-block scrollbar-overflow">
                    <div class="messageContainer"></div>

                    <div class="support__chat-answer">
                    </div>
                </ul>

            </div>
            <div class="support__input-block">
                <div class="support__input-block-wrapper">
                    <input type="file" name="file" id="file-add" onchange="checkFileSize(this)">
<!--                    <label for="file-add" class="support__input-block-attach">-->
<!--                        <svg>-->
<!--                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#attach"></use>-->
<!--                        </svg>-->
<!--                    </label>-->

                    <input placeholder="Написать сообщение..." name="chat-message" type="text"
                           class="support__chat-input" autocomplete="off">
                    <span class="support__input-block-arrow">
                                <svg>
                                  <use xlink:href="{% static 'img/icons/sprite.svg' %}#chatarrow"></use>
                                </svg>
                              </span>
                    <div id="showFile"></div>
                </div>

            </div>
        </div>
    </div>
    {{ user.usernamegame|json_script:'usernamegame' }}
    {{ user.username|json_script:'username' }}
    <script src="{% static 'js/admin_chat.js' %}"></script>
{% endblock %}

