{% extends 'admin/base_site.html' %}
{% load static %}

{% block branding %}
    <a href="/" class="django-admin-logo">
        <!-- Django Administration -->
        <img height="60" src="{% static 'img/logo.svg' %}" alt="{{ site_header|default:_('Django administration') }}">
    </a>
{% endblock branding %}

{% block content %}

<h3>Суммы всех ставок пользоватдей: <mark>{{ sum_bets1 }}</mark> кредит(ов)</h3>
<h3>Суммы всех выигрышных ставок пользоватдей: <mark>{{ sum_bets2 }}</mark> кредит(ов)</h3>
<h3>Прибыль с Рулетки: <mark>{{ ss }}</mark> кредит(ов)</h3>
_____________________
<h3>Кредитов, полученных с игроков, которые хотели обыграть бота для пополнения: <mark>{{ loss_requests_notes }}</mark> кредит(ов)</h3>
<h3>Коллекционных предметов (медведь, робот, покерная и т.д.), выведенных с сайта: <mark>{{ sum_item_user }}</mark> штук(а)</h3>
<h3>Чистая прибыль : <mark>{{ sum_money }}</mark> руб.</h3>
<h3>Сумма успешных заявок на вывод: <mark>{{ sum_amount }}</mark> кредит(ов)</h3>
<h3>Сумма успешных заявок на пополнение: <mark>{{ sum_amount_req }}</mark> кредит(ов)</h3>
<h3>Чистого профита в кредитах без учета смайлов: <mark>{{ ss2 }}</mark> кредит(ов)</h3>


{% endblock %}







