.chat_wrapper{
   width: 95%;
   display:flex;

}
.admin_support_chat_wrapper{
   width: 15vw;
    min-width: 120px;
   display: flex ;
   flex-direction: column;
   align-items: stretch;
}

.admin_support_chat_wrapper p{
    line-height: 2;
   border-radius: 4px;
   text-align: center;
   margin-top: 5px;
   background: #c4364e;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif

}
.active_room{
   background: #c8c8c8 !important;
   color: black;
}
/*.admin_support_chat_wrapper p:active{*/
/*   background: red;*/
/*}*/
.admin_support_chat_wrapper p:hover{
   /*opacity: 0.5;*/
   cursor: pointer;
    background: rgb(239, 73, 73);

}

.support__chat-block{
   height: 550px;
   width: 600px;
}
.file_name{
   text-align: center;
}

.file_name:hover{
   background: white;
   cursor: pointer;
   border-radius: 4px;
}
.online-chat__header-rigth{
   margin-left: 4vw;
}
.online-chat__current{
   padding-left: 5px;
}

.not_read{
   margin-left: 10px;
   padding: 2px;
width: 1em;
  height: 1em;
  border: 2px solid white;
  border-radius: 0.5em;
  line-height: 2em;  /* подробнее про line-height */
  text-align: center;  /* выравнять текст по середине по горизонтали */
  background: #c4364e;
}