<section class="online-chat">
  <div class="online-chat__header">
    <div class="online-chat__header-left">
      <svg class="online-chat__icon-chat">
        <use xlink:href="img/icons/sprite.svg#chat"></use>
      </svg>
      <h4 class="online-chat__title">Чат</h4>
    </div>

    <svg class="online-chat__icon-close">
      <use xlink:href="img/icons/sprite.svg#close"></use>
    </svg>
    <div class="online-chat__header-rigth">
      <div class="online-chat__current">239</div>
      <span class="online-chat__torch"></span>
    </div>
  </div>

  <div class="online-chat__body">
    <div class="online-chat__body-wrapper">
      <ul class="online-chat__list scrollbar-overflow">
        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_red"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-two.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Васька
            </span>
            <span class="online-chat__li-sms">щя все слил!!111</span>

          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_green"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-one.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Артемий
            </span>
            <span class="online-chat__li-sms">ща на изи буду лутать бабки</span>
          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_red"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-two.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Васька
            </span>
            <span class="online-chat__li-sms">щя все слил!!111</span>

          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_green"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-one.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Артемий
            </span>
            <span class="online-chat__li-sms">ща на изи буду лутать бабки</span>
          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_red"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-two.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Васька
            </span>
            <span class="online-chat__li-sms">щя все слил!!111</span>

          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_green"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-one.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Артемий
            </span>
            <span class="online-chat__li-sms">ща на изи буду лутать бабки</span>
          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_red"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-two.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Васька
            </span>
            <span class="online-chat__li-sms">щя все слил!!111</span>

          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_green"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-one.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Артемий
            </span>
            <span class="online-chat__li-sms">ща на изи буду лутать бабки</span>
          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_red"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-two.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Васька
            </span>
            <span class="online-chat__li-sms">щя все слил!!111</span>

          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_green"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-one.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Артемий
            </span>
            <span class="online-chat__li-sms">ща на изи буду лутать бабки</span>
          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_red"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-two.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Васька
            </span>
            <span class="online-chat__li-sms">щя все слил!!111</span>

          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_green"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-one.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Артемий
            </span>
            <span class="online-chat__li-sms">ща на изи буду лутать бабки</span>
          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_red"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-two.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Васька
            </span>
            <span class="online-chat__li-sms">щя все слил!!111</span>

          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_green"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-one.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Артемий
            </span>
            <span class="online-chat__li-sms">ща на изи буду лутать бабки</span>
          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_red"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-two.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Васька
            </span>
            <span class="online-chat__li-sms">щя все слил!!111</span>

          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_green"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-one.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Артемий
            </span>
            <span class="online-chat__li-sms">ща на изи буду лутать бабки</span>
          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_red"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-two.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Васька
            </span>
            <span class="online-chat__li-sms">щя все слил!!111</span>

          </p>
        </li>

        <li class="online-chat__li">
          <div class="online-chat__li-wrapper">
            <div class="online-chat__li-rubin">
              <svg>
                <use xlink:href="img/icons/sprite.svg#rubin_green"></use>
              </svg>
            </div>
            <div class="online-chat__li-avatar">
              <img src="img/gallery/chat-avatar-one.png" alt="">
            </div>

          </div>


          <p class="online-chat__li-text">
            <span class="online-chat__li-name">
              Артемий
            </span>
            <span class="online-chat__li-sms">ща на изи буду лутать бабки</span>
          </p>
        </li>



      </ul>
      <div class="online-chat__header-rigth online-chat__header-rigth_mobile">
        <span class="online-chat__torch"></span>
        <div class="online-chat__current">239</div>
      </div>
    </div>

  </div>

  <div class="online-chat__footer">
    <div class="online-chat__rules rules">
      <div class="rules__row">
        <div class="rules__title">
          Правила чата
        </div>
        <div class="rules__text">
          <div class="rules__text-title">
            Запрещается:
          </div>
          <ol class="rules__list">
            <li class="rules__item">1. Обмен/продажа игровых объектов</li>
            <li class="rules__item">2. Попрошайничество</li>
            <li class="rules__item">3. Размещение ссылок</li>
            <li class="rules__item">4. Однотипные сообщения</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="online-chat__input-block">
      <input placeholder="Написать сообщение..." name="chat-message" type="text" class="online-chat__input">
      <div class="online-chat__icon-doc">
        <svg>
          <use xlink:href="img/icons/sprite.svg#document"></use>
        </svg>
      </div>

      <a href="##" class="online-chat__icon-arrow">
        <svg>
          <use xlink:href="img/icons/sprite.svg#chatarrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>