.system__ul {
  padding: 50px;
}

.system__ul ul {
  padding-left: 50px;
}

.system__ul {
  line-height: 25px;
  font-size: 18px;
}

.system__ul {
  line-height: 25px;
  font-size: 18px;
  padding: 50px;
}

.system__ul ul {
  padding-left: 50px;
}

.system__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.system__col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.system__col-2 a {
  margin-bottom: 15px;
}

.system__col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.system__col-4 a {
  margin-bottom: 15px;
}

.system__frame {
  border: 1px solid #fff;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}