<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__info">
        <a href="/" class="footer__logo">
          <svg>
            <use xlink:href="../img/icons/sprite-edits.svg#logo"></use>
          </svg>
        </a>

        <a href=" https://vk.com/durak24" target="blank" class="footer__soc-item">
          <img src="../img/gallery/vk.png" alt="">
        </a>
        <a href="https://www.youtube.com/channel/UCVwr3DUjn1LRrTkt44RC3_w" target="blank" class="footer__soc-item">
          <svg>
            <use xlink:href="../img/icons/sprite-edits.svg#youtube"></use>
          </svg>
        </a>
      </div>
      <div class="footer__text-block">
        <div class="footer__text-achievements">
          С вами с 2019 года. <br>
          Более 50 000 подписчиков в группе Вконтакте. <br>
          Свыше 600 положительных отзывов.
        </div>
        <div class="footer__rights">
          Все права защищены. 2022. <br> Вся существующая информация на сайте конфиденциальна.</div>
      </div>
    </div>
  </div>
</footer>