<header class="header">
  <div class="container">
    <div class="header__row">

      <div class="header__logo-wrapper">
        <div class="burger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="header__logo">
          <a href="/">
            <svg>
              <use xlink:href="img/icons/sprite-edits.svg#logo"></use>
            </svg>
          </a>
        </div>

        <!-- If not logged-in -->
        <div class="header__login" style="display: none;">
          <a href="##" class="header__login-link">
            <svg>
              <use xlink:href="img/icons/sprite.svg#vk_login"></use>
            </svg>
          </a>
          <a href="##" class="header__login-link">
            <svg>
              <use xlink:href="img/icons/sprite.svg#google_login"></use>
            </svg>
          </a>
        </div>

        <!-- If logged-in and has balance -->
        <a href="##" class="header__balance">
          <span>1.32m</span>
        </a>
      </div>

      <div class="header__wrapper">
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__li">
              <a href="##" class="header__link">ЧЕСТНОСТЬ</a>
            </li>
            <li class="header__li">
              <a href="##" class="header__link">ПОМОЩЬ</a>
            </li>

            <li class="header__li">
              <a href="##" class="header__link">КОНТАКТЫ</a>
            </li>

            <li class="header__li">
              <a href="##" class="header__link header__link_red">FREE</a>
            </li>
          </ul>
        </nav>

        <div class="header__profile">
          <a href="##" class="header__avatar">
            <img src="img/gallery/avatar.png" alt="">
          </a>

          <div class="header__profile-info">
            <a href="##" class="header__profile-name">
              <!-- If not logged-in -->
              <span style="display: none;">Anonymous</span>

              <!-- If logged-in -->
              <span>Username</span>

              <svg class="header__profile-settings">
                <use xlink:href="img/icons/sprite.svg#setings"></use>
              </svg>
            </a>

            <div class="header__profile-row">
              <!-- If user logged-in -->
              <a href="##" class="header__profile-sum">
                <div class="header__profile-sum-img">
                  <svg>
                    <use xlink:href="img/icons/sprite.svg#dollar"></use>
                  </svg>
                </div>

                <span>1.32m</span>
              </a>

              <!-- If user logged-in -->
              <a href="##" class="header__profile-link">
                Пополнить
              </a>

              <!-- If user logged-in -->
              <a href="##" class="header__profile-link">
                Вывести
              </a>

              <!-- If not logged-in -->
              <a href="##" class="header__profile-login" style="display: none;">
                <svg>
                  <use xlink:href="img/icons/sprite.svg#vk_login"></use>
                </svg>
              </a>
              <a href="##" class="header__profile-login" style="display: none;">
                <svg>
                  <use xlink:href="img/icons/sprite.svg#google_login"></use>
                </svg>
              </a>

              <!-- Login btn mobile shown if not logged-in-->
              <a href="##" class="header__login-btn" style="display: none;">
                <svg>
                  <use xlink:href="img/icons/sprite.svg#login"></use>
                </svg>
              </a>
            </div>

            <!-- If user logged-in -->
            <a href="##" class="header__profile-progressbar">
              <div class="header__profile-lvl header__profile-lvl_back">
                17<span>ур</span>
              </div>
              <div class="header__profile-line">
                <span></span>
              </div>
              <div class="header__profile-lvl header__profile-lvl_next">
                18<span>ур.</span>
              </div>
            </a>

            <div class="header__btns">
              <a href="##" class="header__profile-btn">
                Пополнить
              </a>

              <a href="##" class="header__profile-btn">
                Вывести
              </a>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</header>