<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Выберите сумму</title>
	<!-- <meta name="description" content="Описание" />
	<link rel="icon" href="img/favicon.png" type="image/x-icon">
	<meta property="og:title" content="Выберите сумму" />
	<meta property="og:description" content="Описание" />
	<meta property="og:image" content="img/...png" />
	<link rel="stylesheet" href="custom-css/one.css"> -->
	<link rel="stylesheet" href="../libs/swiper@8_swiper-bundle.min.css"/>
	<link rel="stylesheet" href="../css/style.min.css">
</head>

<body class="scrollbar-overflow">
	<div class="wrapper homepage" id="wrapper">


		<header class="header">
	<div class="container">
		<div class="header__row">
				
				<div class="header__logo-wrapper">
					<div class="burger-menu">
						<span></span>
						<span></span>
						<span></span>
					</div>

					<div class="header__logo">
						<a href="/">
							<svg>
								<use xlink:href="../img/icons/sprite-edits.svg#logo"></use>
							</svg>
						</a>
					</div>
				</div>
			
				<div class="header__wrapper">
						<nav class="header__nav">
							<ul class="header__list">
								<li class="header__li">
									<a href="##" class="header__link">ЧЕСТНОСТЬ</a>
								</li>
								<li class="header__li">
									<a href="##" class="header__link">ПОМОЩЬ</a>
								</li>
		
								<li class="header__li">
									<a href="##" class="header__link">КОНТАКТЫ</a>
								</li>
		
								<li class="header__li">
									<a href="##" class="header__link header__link_red">FREE</a>
								</li>
							</ul>
						</nav>
		
						<div class="header__profile">
							<a href="##" class="header__avatar">
								<img src="../img/gallery/avatar.png" alt="">
							</a>
			
							<div class="header__profile-info">
								<div class="header__profile-name">Username 
									<a href="##">
										<svg class="header__profile-settings">
											<use xlink:href="../img/icons/sprite.svg#setings"></use>
										</svg>
									</a>
								
								</div>
								<div class="header__profile-row">
									<div class="header__profile-sum">
										<div class="header__profile-sum-img">
											<img src="../img/gallery/baks.png" alt="">
										</div>
			
										<span>1.32m</span>
									</div>
			
									<a href="##" class="header__profile-link">
										Пополнить
									</a>
			
									<a href="##" class="header__profile-link">
										Вывести
									</a>
								</div>
								
								<div class="header__profile-progressbar">
									<div class="header__profile-lvl header__profile-lvl_back">
										17<span>ур</span>
									</div>
									<div class="header__profile-line">
										<span></span>
									</div>
									<div class="header__profile-lvl header__profile-lvl_next">
										18<span>ур.</span>
									</div>
								</div>
	
								<div class="header__btns">
									<a href="##" class="header__profile-btn">
										Пополнить
									</a>
			
									<a href="##" class="header__profile-btn">
										Вывести
									</a>
								</div>
								
							</div>
							
						</div>
				</div>
			
		</div>
	</div>
</header>

		<main class="" id="homepage">
			<div class="container">
				Состояния входа
			</div>
		</main>


		<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<div class="footer__info">
				<a href="/" class="footer__logo">
					<svg>
						<use xlink:href="../img/icons/sprite-edits.svg#logo"></use>
					</svg>
				</a>

				<a href=" https://vk.com/durak24" target="blank" class="footer__soc-item">
					<img src="../img/gallery/vk.png" alt="">
				</a>
				<a href="https://www.youtube.com/channel/UCVwr3DUjn1LRrTkt44RC3_w" target="blank" class="footer__soc-item">
					<svg>
						<use xlink:href="../img/icons/sprite-edits.svg#youtube"></use>
					</svg>
				</a>
			</div>
			<div class="footer__text-block">
				<div class="footer__text-achievements">
					С вами с 2019 года. <br>
					Более 50 000 подписчиков в группе Вконтакте. <br>
					Свыше 600 положительных отзывов.
				</div>
				<div class="footer__rights">
					Все права защищены. 2022. <br> Вся существующая информация на сайте конфиденциальна.</div>
			</div>
		</div>
	</div>
</footer>
		<!-- @//@include('_modal.html') -->

	</div>


	<script src="../libs/swiper@8_swiper-bundle.min.js"></script>
	<script type="text/javascript" src="../js/script.js"></script>

</body>

</html>