{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}
<div class="popup" id="vkError">
	<div class="popup__body">
		<div class="popup__content modal modal_popup modal_authorization">
			<a href="#" class="popup__close close-popup">
				<svg class="close-popup__icon ">
                    <use xlink:href="{% static 'img/icons/sprite.svg' %}#close"></use>
				</svg>
			</a>

			<div class="modal-message">
				<div class="modal-message__img">
					<svg class="icon-error">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#close"></use>
					</svg>
				</div>
				<div class="modal-message__text">
					<p>Подписка не обнаружена. Спустя 15 минут попробуйте подписаться на канал заново.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup" id="youtubeError">
	<div class="popup__body">
		<div class="popup__content modal modal_popup modal_authorization">
			<a href="#" class="popup__close close-popup">
				<svg class="close-popup__icon ">
                    <use xlink:href="{% static 'img/icons/sprite.svg' %}#close"></use>
				</svg>
			</a>

			<div class="modal-message">
				<div class="modal-message__img">
					<svg class="icon-error">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#close"></use>
					</svg>
				</div>
				<div class="modal-message__text">
					<p>Подписка не обнаружена. Пожалуйста, перейдите на
  <a href="https://youtube.com/account_privacy" target="_blank"><u>youtube.com/account_privacy</u></a>
 и переведите нижний переключатель в левое положение. Спустя 15 минут попробуйте подписаться на канал заново.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup modal-manual" id="sub__success">
        <div class="popup__body">
            <div class="popup__content modal modal_popup modal_message modal-manual__modal">
                <a href="/" class="popup__close close-popup">
                    <svg class="close-popup__icon ">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#close"></use>
                    </svg>
                </a>

                <div class="modal-message">
                    <div class="modal-message__img">
                        <svg class="icon-ok">
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#item"></use>
                        </svg>
                    </div>
                    <div class="modal-message__text">
                        Подписка проверена
                        Баланс успешно пополнен на <br> {{ sitecontent2.bonus_youtube}}к
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="popup select-amount" id="youtubeBonus">
  <div class="popup__body">
    <div class="popup__content modal modal_select-amount modal_select-youtubeBonus" id="hueta">

                <a href="#" class="popup__close close-popup">
                    <svg class="close-popup__icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#close"></use>
                    </svg>
                </a>
      <div class="select-amount__s-am-input s-am-input" id="hueta1">
        <h3 class="s-am-input__title">
          Ваш ютуб-идентификатор
        </h3>

        <div class="s-am-input__input-block" id="hueta2>
          <svg>
            <use xlink:href="{% static 'img/icons/sprite-edits.svg' %}#youtube"></use>
          </svg>
          <input inputmode="numeric" class="s-am-input__input_yt" placeholder="UCxxxxxxxxxxxxxxxxxxx" type="tel"
            step="1" name="add-sum" maxlength="24" minlength="24">
          <button type="submit" class="btn btn_danger profile-settings__btn youtube-id__btn_sell" style="
" id="ueban">Отправить</button>
        </div>
      </div>
      <p id="hueta3">1. Перейдите на
  <a href="https://www.youtube.com/account_advanced" target="_blank"><u>youtube.com/account_advanced</u></a>
 и скопируйте идентификатор канала (это нужно для проверки подписки). <br>

2. Подпишитесь на
  <a href="{{ sitecontent2.url_youtube }}" target="_blank"><u>наш ютуб канал </u>и нажмите "Отправить".</a></p>
    </div>
  </div>
</div>
<div class="popup" id="auth_to_vk_you">
	<div class="popup__body">
		<div class="popup__content modal modal_popup modal_authorization">
			<a href="#" class="popup__close close-popup close-popup_close">
				<svg class="close-popup__icon ">
					<use xlink:href="{% static 'img/icons/sprite.svg' %}#close"></use>
				</svg>
			</a>
			<div class="modal-enter">
				<h3 class="modal__title modal-enter__title">
                    {% if not user.is_authenticated %}
					    Авторизуйтесь для продолжения
                    {% elif social_google %}
                        Свяжите аккаунт с VK
                    {% elif social_vk %}
                        Свяжите аккаунт с Google
                    {% endif %}
				</h3>
				<div class="modal-enter__body">
					<div class="modal-enter__row">
						<div class="modal-enter__item">
							<div class="modal-enter__img">
                                {% if social_vk or not user.is_authenticated %}
								<svg class="yt">
									<use xlink:href="{% get_static_prefix %}img/icons/sprite.svg#google_login"></use>
								</svg>
							</div>

							<a href="/login/google-oauth2/" class="btn btns_yt modal-enter__btn">Привязать аккаунт Google</a>
                            {% endif %}
						</div>
						<div class="modal-enter__item">
							<div class="modal-enter__img">
                            {% if social_google or not user.is_authenticated %}
								<svg class="vk">
									<use xlink:href="{% get_static_prefix %}img/icons/sprite.svg#vk"></use>
								</svg>
							</div>
							<a href="/login/vk-oauth2/" class="btn btns_vk modal-enter__btn">Войти через
								Вконтакте</a>
                            {% endif %}
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>

{% block maincontent %}
<div class="profil-main__content">
    <section class="bonus-currency">
        <h1 class="bonus-currency__title">Бонусная валюта</h1>
        <div class="content-block">
            <div class="bonus-currency__row">
                <div class="bonus-currency__item bonus-currency__item_promo-code promo-code">
                    <form class="promo-code__form form">
                        <div class="promo-code__title">Введите промокод (<span>25k
                            <svg class="promo-code__img-title">
                              <use xlink:href="{% static 'img/icons/sprite.svg' %}#dollar"></use>
                            </svg>
                          </span>)
                        </div>
                        <div class="promo-code__input-block">
                            <input type="text" class="form__input promo-code__input">
                            <button class="btn btn_danger promo-code__btn" id="promo_btn">Активировать</button>
                        </div>
                        <div class="promo-code__msg form__msg" id="promo_message">Вы уже активировали промо-код.</div>
                    </form>
                </div>
                <div class="bonus-currency__item add-bonus">
                    <div class="add-bonus__item">

                        <div class="add-bonus__title-block">
                            <div class="add-bonus__logo">
                                <svg class="icon icon_yt">
                                    <use xlink:href="{% static 'img/icons/sprite-edits.svg' %}#youtube"></use>
                                </svg>
                            </div>
                            <div class="add-bonus__title">
                                Подпишиcь на наш YouTube
                            </div>
                        </div>
                        <hr>
                        <div class="add-bonus__value-block">
                            <div class="add-bonus__value">
                                +{{ sitecontent2.bonus_youtube }}K
                            </div>
                            <svg>
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#dollar"></use>
                            </svg>
                        </div>
                        {% if user.vk_youtube.bonus_youtube %}
                            <button class="btns btns_yt add-bonus__btn" id="btn_youtube" disabled="disabled">Вы подписаны</button>
                        {% elif social_google and user.vk_youtube.youtube_disabled %}
                                <button class="btns btns_yt add-bonus__btn" id="btn_youtube" disabled="disabled">Подписка проверяется...</button>
                        {% elif social_google %}
                            <button class="btns btns_yt add-bonus__btn" id="btn_youtube" >Подписаться на YouTube</button>
{#                        <a href="{{ sitecontent2.url_youtube }}" target="_blank" class="btns btns_yt add-bonus__btn" id="btn_youtube">Подписаться на Youtube</a>#}
                        {% elif social_vk %}
                            <button class="btns btns_yt add-bonus__btn" id="btn_youtube_new_modal">Подписаться на YouTube</button>
                        {% elif user.is_staff %}
                            <button class="btns btns_yt add-bonus__btn" id="btn_youtube" disabled="disabled">Подписка недоступна</button>
                        {% else %}
                            <button class="btns btns_yt add-bonus__btn" id="btn_youtube">Подписаться на YouTube</button>
                        {% endif %}
                    </div>
                    <div class="add-bonus__item">
                        <div class="add-bonus__title-block">
                            <div class="add-bonus__logo">
                                <svg class="icon icon_vk">
                                    <use xlink:href="{% static 'img/icons/sprite.svg' %}#vk"></use>
                                </svg>
                            </div>
                            <div class="add-bonus__title">
                                Подпишиcь на наш Вконтакте
                            </div>
                        </div>
                        <hr>
                        <div class="add-bonus__value-block">
                            <div class="add-bonus__value">
                                +{{ sitecontent2.bonus_vk }}K
                            </div>
                            <svg>
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#dollar"></use>
                            </svg>
                        </div>
                    {% if user.vk_youtube.bonus_vk %}
                        <button class="btns btns_vk add-bonus__btn" id="btn_vk" disabled="disabled">Вы подписаны</button>
                    {% elif social_vk and user.vk_youtube.youtube_disabled %}
                        <button class="btns btns_vk add-bonus__btn" id="btn_vk" disabled="disabled">Подписка проверяется...</button>
                    {% elif social_vk %}
                        <a href="{{ sitecontent2.url_vk }}" target="_blank" id="a__inside__button"><button class="btns btns_vk add-bonus__btn" id="btn_vk">Подписаться во
                            Вконтакте</button></a>
                    {% elif social_google %}
                        <button class="btns btns_vk add-bonus__btn" id="btn_vk_new_modal">Подписаться во Вконтакте</button>
                    {% elif user.is_staff %}
                        <button class="btns btns_vk add-bonus__btn" id="btn_vk" disabled="disabled">Подписка неактивна</button>
                    {% else %}
                        <button class="btns btns_vk add-bonus__btn" id="btn_vk">Подписаться во Вконтакте</button>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="bonus-currency__invite invite">
                <div class="accordion invite__head">
                    <div class="invite__title">
                        Пригласи друга - получи валюту! <span>(Партнерка)</span>
                    </div>
                    <svg class="accordion-icon invite__accordion-icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#arrow-slider"></use>
                    </svg>
                </div>
                <div class="panel invite__panel">
                    <ul class="invite__steps">
                        <li class="invite__step">
                            <div class="invite__wrapper">
                                <div class="invite__num">#1</div>
                                <div class="invite__step-title">Придумай свой бонусный код</div>
                                <form action="" class="form invite__form">
                                    {% csrf_token %}
                                    <div class="invite__input-block">
                                        <input type="text" class="form__input invite__input" placeholder="Введите код">


                                        <button type="submit" class="btn btn_dark invite__btn">Создать</button>


                                        <div id="formMsgMob" class="invite__msg invite__msg_mob form__msg">Введённый промокод не
                                            доступен.
                                        </div>
                                    </div>
                                    <div id="formMsg" class="invite__msg form__msg">Введённый промокод не доступен.</div>
                                </form>
                                <div class="invite__arrow invite__arrow_min">
                                    <svg class="icon">
                                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#Arrow5-min"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="invite__step">
                            <div class="invite__wrapper invite__wrapper_text">
                                <div class="invite__num">#2</div>
                                <div class="invite__text-block">
                                    <div class="invite__img">
                                        <img src="{% static 'img/gallery/bulb.png' %}" alt="">
                                    </div>
                                    <div class="invite__text">
                                        {{ sitecontent2.info2|safe }}
                                    </div>
                                </div>
                                <div class="invite__arrow invite__arrow_max">
                                    <svg class="icon">
                                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#Arrow6-max"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="invite__step">
                            <div class="invite__wrapper invite__wrapper_text">
                                <div class="invite__num">#3</div>
                                <div class="invite__text-block">
                                    <div class="invite__img">
                                        <img src="{% static 'img/gallery/handshake.png' %}" alt="">
                                    </div>
                                    <div class="invite__text">
                                        {{ sitecontent2.info3|safe }}
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="bonus-currency__conclusion conclusion">
                        <div class="conclusion__title">На текущий момент доступно</div>
                        <div class="form num-game-currency">
                            <div class="form__input num-game-currency__input num-game-currency__input_value">
                                <svg class="num-game-currency__img-icon">
                                    <use xlink:href="{% static 'img/icons/sprite.svg' %}#dollar"></use>
                                </svg>
                                <span class="num-game-currency__span-curent" id="free_amount">0</span>
                            </div>
                            <div
                                    class="form__input num-game-currency__input num-game-currency__input_units conclusion_units">
                                Тыс.
                            </div>
                        </div>
                        <a href="#" class="btn btn__danger-min conclusion__btn">Забрать</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/free.js' %}"></script>

{% endblock %}
