{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block maincontent %}
<div class="profil-main__content">
    <section class="honesty">
        <h1 class="honesty__title">Честность</h1>
        <div class="honesty__block">
            <div class="honesty__row">
                <div class="honesty__how">
                    <h2 class="honesty__how-title">Как мне убедиться в честности игры?</h2>
                    {% for i in sitecontent %}
                    <div class="honesty__how-text">
                        {{ i.honesty_game|safe }}
                    </div>
                    <div class="honesty__img">
                        <img src="{% static 'img/gallery/rull-img.png' %}" alt="">
                    </div>
                </div>
                <div class="honesty__rull">
                    <h2 class="honesty__rull-title">Рулетка</h2>
                    <div class="honesty__rull-wrapper">
                        <div class="honesty__rull-text">
                            {{ i.roll|safe }}
                        </div>
                        {% endfor %}
                        <div class="honesty__rull-code">
                            <p>
                                const crypto = require('crypto');
                            </p>
                            <p>
                                const ROUND_ID = 54519; <br>
                                const PUBLIC_SEED = '001206023522'; <br>
                                const SERVER_SEED = 'd309cb8a0123201db12ac74061ea1f9<br class="br-mobile">6<br
                                    class="br-min">621691579c87b3b12e086aef6c1594<br class="br-mobile">b5';
                            </p>
                            <p>
                                const hashString = string => crypto.createHash('sha256').update(s<br
                                    class="br-mobile">tring).digest('hex');
                            </p>
                            <p>
                                const generateRouletteTicket = <br class="br-mobile"> (serverSeed, publicSeed, round) =>
                                {
                                <br>
                                <span class="left-margin">const hash = <br class="br-mobile"> hashString(`${serverSeed}:<br
                                        class="br-mobile">${publicSeed}:${round}`);</span> <br>
                                <span class="left-margin">return parseInt(hash.substr(0, 8), 16) <br class="br-mobile"> %
                              15;</span> <br>

                                }
                            </p>
                            <p>
                                console.log(generateRouletteTicket<br class="br-mobile">(SERVER_SEED, PUBLIC_SEED,
                                ROUND_ID));
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transactions transactions_honesty" id="transctions_honesty_container">
                <div class="transactions__wrapper">
                    <div class="transactions__titles">
                        <h3 class="transactions__name">ДАТА</h3>
                        <h3 class="transactions__name">Public seed</h3>
                        <h3 class="transactions__name">Hash</h3>
                        <h3 class="transactions__name">Rounds</h3>
                    </div>
                    
                    <div class="transactions__items">
                        {% for day_hash in page_obj %}
                        <div class="transactions__item">
                                <div class="transactions__item-date transactions__item-info">
                                    <span>{{ day_hash.date_generated }}</span>
                                </div>
                                <div class="transactions__item-seed transactions__item-info">
                                    <span>{{ day_hash.public_key }}</span>
                                </div>
                                <div class="transactions__item-hash transactions__item-info">
{#                                    {% if day_hash.date_generated == today or not day_hash.show_hash%}#}
{#                                        <span>ХЕШ КОД НАХОДИТСЯ В РАБОТЕ</span>#}
                                    {% if day_hash.date_generated == today %}
                                        <span class="transactions__item-text_red">{{ day_hash.private_key_hashed }}</span>
                                    {% else %}
                                    <span>{{ day_hash.private_key }}</span>
                                    {% endif %}
                                </div>
                                <div class="transactions__item-rounds transactions__item-info">
                                    <span>{{ day_hash.rouletteround_set.first.round_number }} - {{ day_hash.rouletteround_set.last.round_number }}</span>
                                </div>
                                </div>
{#                        </div>#}
                        {% endfor %}
                        <div class="center" style="margin-right: 10px;">
                            <ul class="pagination" style="margin-block-start: 10px;">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}#transctions_honesty_container">«</a></li>
                                {% else %}
                                    <li><a href="#">«</a></li>
                                {% endif %}
                        
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}#transctions_honesty_container">»</a></li>
                                {% else %}
                                    <li><a href="#">»</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
