{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block maincontent %}
<div class="profil-main__content">
    <section class="roulette">

        <div class="roulette__rull">

            <div class="roulette__rull-timer-wrapper">
                <div class="roulette__rull-timer-block">
                    <p class="roulette__rull-timer-text">ПРОКРУТКА</p>
                    <span class="roulette__rull-timer">18.5с</span>
                </div>

            </div>

            <div class="roulette__rull-wrapper scrollbar-overflow roulette__rull-wrapper_blur"></div>
            <div class="list"></div>
            <div class="roulette__rull-line" style="display: none;"></div>
        </div>

        <script>

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            //! Прокрутка рулетки
            // 113 - coin
            //111 - red7
            //109 - black6
            //107 - red5
            //105 - black4
            //103 - red3
            //101 - black2


            let responseBack; // определенная карта с бэкенда
            let cells;

            let numbersCards = Math.round(100 + Math.random() * (121 - 100 + 1))
            if (responseBack){
                cells = responseBack
            } else {
                cells = (numbersCards % 2 === 0 ) ? numbersCards+1:numbersCards
            }
            console.log(cells)
            // const cells = 113

            const list = document.querySelector('.list');

            function generateItems() {
                let h = 8;
                // четные элементы красные, нечетные черные,каждая 8 карта coin
                for (let i = 0; i < cells; i++) {

                    let item;
                    if (i % 2) {
                        item = `<svg>
                            <use xlink:href="/static/img/icons/sprite.svg#hearts_stroke_white"></use>
                        </svg>`;
                    } else {
                        item = `<svg>
                            <use xlink:href="/static/img/icons/sprite.svg#spades_stroke_white"></use>
                        </svg>`;
                    }
                    // каждый 8-я карта coin
                    if (i === h) {

                        item = `<svg>
                            <use xlink:href="/static/img/icons/sprite.svg#coin_stroke_white"></use>
                        </svg>`;
                        h = h + 8;
                    }

                    const div = document.createElement('div')
                    div.classList.add('roulette__rull-img')
                    div.innerHTML = item

                    list.append(div)

                }
            }

            //генерируем при загрузке страницы первоначальную верстку картинок
            generateItems();

            // анимацию прокрутки
            function startRoll() {
                //докрутка от -49.6% до -50.4%
                function randomInteger(min, max) {
                    // получить случайное число от (min-0.5) до (max+0.5)
                    let rand = min + Math.random() * (max - min + 1);
                    return Math.round(rand);
                }
                let swingFinish = `translate3d(${randomInteger(-496,-504)/10}%, 0, 0)`
                console.log('sss '+ swingFinish)

                list.style.left = '50%'
                list.style.transform = swingFinish
                list.style.transition = '5s cubic-bezier(0.21, 0.53, 0.29, 0.99)'
            }

            // анимация возврата после прокрутки
            const returnToStartPosition = () => {
                list.style.left = '0%'
                list.style.transform = 'translate3d(-380px, 0, 0)'
                list.style.transition = '1s cubic-bezier(0.21, 0.53, 0.29, 0.99)'
            }

            //! Таймер рулетка

            let timerWrapper = document.querySelector(".roulette__rull-timer-wrapper");
            let timerNums = document.querySelector(".roulette__rull-timer");
            let wrapperItems = document.querySelector(".roulette__rull-wrapper");
            let rull_line = document.querySelector(".roulette__rull-line");

            //добавляет стили для отображения отсчета
            let blurForTimer = () => {
                wrapperItems.classList.add("roulette__rull-wrapper_blur");
                timerWrapper.style.display = "flex";
                rull_line.style.display = "inline-block";
            }

            // логика счетчика таймера
            let timerCounter = () => {

                // стартовое значение таймера
                let num = 20

                // происходит отсчет и его отрисовка
                let intervalTimerRull = setInterval(() => {
                    if (num.toFixed(1) <= 0.1) {
                        clearInterval(intervalTimerRull);
                        // удаляем счетчик после отсчета
                        wrapperItems.classList.remove("roulette__rull-wrapper_blur");
                        timerWrapper.style.display = "none";
                        rull_line.style.display = "block";
                    } else {
                        num -= 0.1;
                        timerNums.innerHTML = num.toFixed(1);
                    }
                }, 100);

                //добавляем стили счетчика для его отображения при новой прокрутке
                blurForTimer()

                //после отсчета вызывается цепочка промисов

                setTimeout(() => {
                    // тут стартует анимация прокрута с задержкой в 20 секунд
                    startRoll()
                    setTimeout(() => {
                        // тут происходит возврат после прокрутки на исходное положение через 8 секунд после начала прокрутки
                        returnToStartPosition()
                        resolve(1)
                    }, 8000);
                }, 20000)
            }

            //дергаем ф-цию что бы все сработало 1 раз при загрузке, дальше по сет интервалу в 29сек
            timerCounter()

            //ставим функцию на каждые 29сек
            setInterval(timerCounter, 29000)


            //! Плавные скроллбары
            if (document.querySelector(".scrollbar-overflow")) {
                let blockArrow = document.querySelectorAll(".scrollbar-overflow");

                blockArrow.forEach(function (item) {
                    item.addEventListener("touchmove", function () {
                        item.classList.add("scrollbar-overflow_active");
                    });

                    item.addEventListener("touchend", function () {
                        setTimeout(function () {
                            item.classList.remove("scrollbar-overflow_active");
                        }, 1000);
                    });
                });
            }
            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        </script>




        <div class="roulette__previous-wrapper">
            <div class="roulette__previous">
                <div class="roulette__previous-text">Предыдущие роллы</div>
                <div class="roulette__previous-items">
                    <div class="roulette__previous-item">
                        <svg>
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#spades_stroke_grey"></use>
                        </svg>
                    </div>

                    <div class="roulette__previous-item">
                        <svg>
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#hearts_stroke_grey"></use>
                        </svg>
                    </div>

                    <div class="roulette__previous-item">
                        <svg>
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#spades_stroke_grey"></use>
                        </svg>
                    </div>

                    <div class="roulette__previous-item" style="
    margin-left: 1px;
    margin-right: 2px;
">
                        <svg>
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#coin_stroke_grey"></use>
                        </svg>
                    </div>

                    <div class="roulette__previous-item">
                        <svg>
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#spades_stroke_grey"></use>
                        </svg>
                    </div>

                    <div class="roulette__previous-item">
                        <svg>
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#hearts_stroke_grey"></use>
                        </svg>
                    </div>

                    <div class="roulette__previous-item">
                        <svg>
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#spades_stroke_grey"></use>
                        </svg>
                    </div>

                    <div class="roulette__previous-item">
                        <svg>
                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#hearts_stroke_grey"></use>
                        </svg>
                    </div>
                </div>
                <a href="##" class="roulette__previous-sound sound" data-value="soundOn">
                    <svg>
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#sound_off"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="roulette__table-wrapper">
            <div class="roulette__table">
                <div class="roulette__input-block">
                    <svg>
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#dollar"></use>
                    </svg>
                    <input inputmode="numeric" placeholder="Введите сумму..." type="tel" step="1" name="add-sum"
                           class="roulette__table-input">
                    <div class="roulette__current-block">Введите сумму...</div>
                </div>

                <div class="roulette__table-row">
                    <a href="##" class="roulette__table-link roulette__table-link_fw">CLEAR</a>
                    <a href="##" class="roulette__table-link">+10K</a>
                    <a href="##" class="roulette__table-link">+100K</a>
                    <a href="##" class="roulette__table-link">+1M</a>
                    <a href="##" class="roulette__table-link">+10M</a>
                    <div class="roulette__table-link-wrapper">
                        <a href="##"
                           class="roulette__table-link roulette__table-link_min roulette__table-link_fw">1/2</a>
                        <a href="##"
                           class="roulette__table-link roulette__table-link_min roulette__table-link_fw">X2</a>
                    </div>
                    <a href="##" class="roulette__table-link roulette__table-link_fw">MAX</a>
                </div>
                <div class="roulette__msg"></div>
            </div>

        </div>

        <div class="roulette__radio-wrapper">
            <div class="roulette__radio-item">
                <input class="roulette__radio" id="bid-1" type="radio" name="bid">
                <label for="bid-1" class="roulette__item-header">
                    <div class="roulette__item-name">
                        <div class="roulette__item-img">
                            <svg>
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#hearts_bet_button_pc"></use>
                            </svg>
                        </div>
                        <h3 class="roulette__item-title">Черви</h3>
                    </div>
                    <div class="roulette__item-bid">
                        <span>Ставка</span> X2
                    </div>
                </label>
            </div>
            <div class="roulette__radio-item">
                <input class="roulette__radio" id="bid-2" type="radio" name="bid">
                <label for="bid-2" class="roulette__item-header">
                    <div class="roulette__item-name">
                        <div class="roulette__item-img">
                            <svg>
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#coin_bet_button_pc"></use>
                            </svg>
                        </div>
                        <h3 class="roulette__item-title">Монета</h3>
                    </div>
                    <div class="roulette__item-bid">
                        <span>Ставка</span> Х14
                    </div>
                </label>
            </div>
            <div class="roulette__radio-item">
                <input class="roulette__radio" id="bid-3" type="radio" name="bid">
                <label for="bid-3" class="roulette__item-header">
                    <div class="roulette__item-name">
                        <div class="roulette__item-img">
                            <svg>
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#spades_bet_button_pc"></use>
                            </svg>
                        </div>
                        <h3 class="roulette__item-title">Пики</h3>
                    </div>
                    <div class="roulette__item-bid">
                        <span>Ставка</span> X2
                    </div>
                </label>
            </div>
        </div>
        <div class="roulette-msg">

        </div>

        <div class="roulette__items">
            <div class="accordion-wrapper roulette__accordion-wrapper">
                <button class="accordion roulette__accardion">
                    <div class="roulette__accardion-wrapper">
                        <div class="roulette__accardion-left">
                            <svg class="roulette__accardion-img">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#hearts"></use>
                            </svg>
                            <div class="roulette__accardion-count">
                                37 участников
                            </div>
                        </div>

                        <div class="roulette__accardion-num">
                            <svg>
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#dollar"></use>
                            </svg>
                            <span>222K</span>
                        </div>
                    </div>
                    <svg class="accordion-icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#arrow-slider"></use>
                    </svg>
                </button>
                <div class="panel">
                    <div class="roulette__item">
                        <div class="roulette__item-body">
                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    1000
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <button class="accordion roulette__accardion">
                    <div class="roulette__accardion-wrapper">
                        <div class="roulette__accardion-left">
                            <svg class="roulette__accardion-img">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#coin"></use>
                            </svg>
                            <div class="roulette__accardion-count">
                                37 участников
                            </div>
                        </div>

                        <div class="roulette__accardion-num">
                            <svg>
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#dollar"></use>
                            </svg>
                            <span>222K</span>
                        </div>
                    </div>
                    <svg class="accordion-icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#arrow-slider"></use>
                    </svg>
                </button>
                <div class="panel">
                    <div class="roulette__item won">
                        <div class="roulette__item-body">
                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    +1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    +1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    +1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    +1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    +1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    +1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    +1000
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <button class="accordion roulette__accardion">
                    <div class="roulette__accardion-wrapper">
                        <div class="roulette__accardion-left">
                            <svg class="roulette__accardion-img">
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#spades"></use>
                            </svg>
                            <div class="roulette__accardion-count">
                                37 участников
                            </div>
                        </div>

                        <div class="roulette__accardion-num">
                            <svg>
                                <use xlink:href="{% static 'img/icons/sprite.svg' %}#dollar"></use>
                            </svg>
                            <span>222K</span>
                        </div>
                    </div>
                    <svg class="accordion-icon">
                        <use xlink:href="{% static 'img/icons/sprite.svg' %}#arrow-slider"></use>
                    </svg>
                </button>
                <div class="panel">
                    <div class="roulette__item lost">
                        <div class="roulette__item-body">
                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    -1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    -1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    -1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    -1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    -1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    -1000
                                </div>
                            </div>

                            <div class="roulette__item-row">
                                <div class="roulette__item-left">
                                    <div class="roulette__item-avatar">
                                        <img src="{% static 'img/gallery/chat-avatar-one.png' %}" alt="">
                                    </div>
                                    <div class="roulette__item-stoun">
                                        <svg>
                                            <use xlink:href="{% static 'img/icons/sprite.svg' %}#rubin_green"></use>
                                        </svg>
                                    </div>
                                    <div class="roulette__item-username">
                                        Артемий
                                    </div>
                                </div>

                                <div class="roulette__item-money">
                                    -1000
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
