<div class="popup" id="amountSelection">
  <div class="popup__body">

    <div class="popup__content modal modal_amount-selection amount-selection modal_popup">

      <a href="#" class="popup__close close-popup">
        <svg class="close-popup__icon ">
          <use xlink:href="img/icons/sprite.svg#close"></use>
        </svg>
      </a>
      <div class="smiley amount-selection__smiley">
        <div class="smiley__img">
          <img src="../img/gallery/smiley.png" alt="смайлик">
        </div>
        <div class="smiley__text">
          - Чем больше берешь, <br> тем дешевле выходит!
        </div>


      </div>
      <div class="amount-selection__content">
        <h3 class="modal__title amount-selection__title">
          Введите сумму или количество валюты
        </h3>
        <form class="scrollbar-overflow form amount-selection__form" action="">
          <div class="amount-selection__block-input">
            <div class="amount-selection__item">
              <div class="amount-selection__currency">₽</div>
              <input inputmode="numeric" step="1" type="tel" class="form__input amount-selection__input"
                placeholder="Введите сумму..." min="69" max="50000">
              <div class="amount-selection__info">Мин 69р. / 50 Тыс.</div>
            </div>
            <div class="amount-selection__item"><span class="amount-selection__smooth">=</span></div>
            <div class="amount-selection__item">
              <div class="form num-game-currency">
                <div class="form__input num-game-currency__input num-game-currency__input_value">
                  <svg class="num-game-currency__img-icon">
                    <use xlink:href="img/icons/sprite.svg#dollar"></use>
                  </svg>
                  <input inputmode="numeric" name="valuesum" step="1" placeholder="Кредиты" value="" type="tel"
                    class="num-game-currency__span-curent"></input>
                </div>
                <div class="form__input num-game-currency__input num-game-currency__input_units">
                  Тыс.
                </div>
              </div>
              <div class="amount-selection__info amount-selection__info_units">+4% бонус</div>
            </div>

          </div>

          <div class="mod-arrow amount-selection__right">
            <svg>
              <use xlink:href="../img/icons/sprite.svg#arrow-slider"></use>
            </svg>
          </div>
          <div class="swiper amount-selection__checkbox">
            <div class="swiper-wrapper amount-selection__wrapper">
              <div class="swiper-slide amount-selection__slide">
                <input type="radio" class="amount-selection__check" id="selectionCard" name="paymentSystem"
                  value="Visa/Master/Мир" checked>
                <label for="selectionCard" class="amount-selection__card payment-system">
                  <div class="payment-system__img payment-system__img_big">
                    <img src="../img/gallery/cards.png" alt="Visa/Master/Мир">
                  </div>
                  <div class="payment-system__title">
                    Visa/Master/Мир
                  </div>
                </label>

              </div>
              <div class="swiper-slide amount-selection__slide">
                <input type="radio" class="amount-selection__check" id="Qiwi" name="paymentSystem" value="Qiwi кошелёк">
                <label for="Qiwi" class="amount-selection__card payment-system">
                  <div class="payment-system__img">
                    <img src="../img/gallery/qivi.png" alt="Qiwi кошелёк">
                  </div>
                  <div class="payment-system__title">
                    Qiwi кошелёк
                  </div>
                </label>
              </div>
              <div class="swiper-slide amount-selection__slide">
                <input type="radio" class="amount-selection__check" id="yumani" name="paymentSystem" value="ЮMoney">
                <label for="yumani" class="amount-selection__card payment-system">
                  <div class="payment-system__img">
                    <img src="../img/gallery/yumani.png" alt="ЮMoney">
                  </div>
                  <div class="payment-system__title">
                    ЮMoney
                  </div>
                </label>
              </div>
              <div class="swiper-slide amount-selection__slide">
                <input type="radio" class="amount-selection__check" id="Webmoney" name="paymentSystem" value="Webmoney">
                <label for="Webmoney" class="amount-selection__card payment-system">
                  <div class="payment-system__img">
                    <img src="../img/gallery/Webmoney.png" alt="Webmoney">
                  </div>
                  <div class="payment-system__title">
                    Webmoney
                  </div>
                </label>
              </div>
              <div class="swiper-slide amount-selection__slide">
                <input type="radio" class="amount-selection__check" id="SamsungPay" name="paymentSystem"
                  value="SamsungPay">
                <label for="SamsungPay" class="amount-selection__card payment-system">
                  <div class="payment-system__img">
                    <img src="../img/gallery/Samsung-pay.png" alt="Samsung pay">
                  </div>
                  <div class="payment-system__title">
                    Samsung pay
                  </div>
                </label>
              </div>
              <div class="swiper-slide amount-selection__slide">
                <input type="radio" class="amount-selection__check" id="ApplePay" name="paymentSystem" value="ApplePay">
                <label for="ApplePay" class="amount-selection__card payment-system">
                  <div class="payment-system__img">
                    <img src="../img/gallery/Apple-pay.png" alt="Apple pay">
                  </div>
                  <div class="payment-system__title">
                    Apple pay
                  </div>
                </label>
              </div>
              <div class="swiper-slide amount-selection__slide">
                <input type="radio" class="amount-selection__check" id="MobOperators" name="paymentSystem"
                  value="Моб.операторы">
                <label for="MobOperators" class="amount-selection__card payment-system">
                  <div class="payment-system__img">
                    <img src="../img/gallery/Mob-operators.png" alt="Моб. операторы">
                  </div>
                  <div class="payment-system__title">
                    Моб. операторы
                  </div>
                </label>
              </div>
              <div class="swiper-slide amount-selection__slide">
                <input type="radio" class="amount-selection__check" id="Cryptocurrency" name="paymentSystem"
                  value="Криптовалюта">
                <label for="Cryptocurrency" class="amount-selection__card payment-system">
                  <div class="payment-system__img">
                    <img src="../img/gallery/Cryptocurrency.png" alt="Криптовалюта">
                  </div>
                  <div class="payment-system__title">
                    Криптовалюта
                  </div>
                </label>
              </div>
              <div class="swiper-slide amount-selection__slide">
                <input type="radio" class="amount-selection__check" id="PayPal" name="paymentSystem" value="PayPal">
                <label for="PayPal" class="amount-selection__card payment-system">
                  <div class="payment-system__img">
                    <img src="../img/gallery/PayPal.png" alt="PayPal">
                  </div>
                  <div class="payment-system__title">
                    PayPal
                  </div>
                </label>
              </div>
              <div class="swiper-slide amount-selection__slide">
                <input type="radio" class="amount-selection__check" id="GooglePay" name="paymentSystem"
                  value="GooglePay">
                <label for="GooglePay" class="amount-selection__card payment-system">
                  <div class="payment-system__img">
                    <img src="../img/gallery/Google-pay.png" alt="Google pay">
                  </div>
                  <div class="payment-system__title">
                    Google pay
                  </div>
                </label>
              </div>

            </div>
          </div>
          <div class="mod-arrow amount-selection__left">
            <svg>
              <use xlink:href="../img/icons/sprite.svg#arrow-slider"></use>
            </svg>
          </div>
          <button type="submit" class="btn btn_danger amount-selection__btn btn-disable-sum">Пополнить</button>



        </form>


      </div>
    </div>
  </div>

</div>