<div class="popup modal-manual" id="modalManual">
	<div class="popup__body">
		<div class="popup__content modal modal_popup modal-manual__modal">
			<div class="modal-manual__queries">
				Заявка #22131
			</div>
			<a href="#" class="popup__close close-popup close-popup_close">
				<svg class="close-popup__icon ">
					<use xlink:href="img/icons/sprite.svg#close"></use>
				</svg>
			</a>
			<h3 class="modal__title">
				Инструкция
			</h3>

			<div class="modal-manual__text">
				<ul>
					<li>1. Общие положения</li>
					<li>1.1. ООО «ЯНДЕКС» (далее — «Яндекс») предлагает пользователю сети Интернет (далее – Пользователь) -
						использовать сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее —
						«Соглашение», «ПС»).
						Соглашение вступает в силу с моментользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение
						вступает в силу с моментользовательском соглашении (далее — «Соглашение», «ПС»).
					</li>
				</ul>
				<div class="modal-manual__footnote">
					*в случае неудачной попытки обыгрыша валюта не возвращается
				</div>

			</div>
			<a href="##" class="btn btn_danger modal-manual__btn btn_white" id="modalManualBtn">
					<div class="timer" id="timerOne">0:10</div>
			</a>

		</div>
	</div>
</div>