<div class="popup modal-manual" id="choiceObjects">
	<div class="popup__body">
		<div class="popup__content modal modal_popup modal-manual__modal">

			<a href="#" class="popup__close close-popup">
				<svg class="close-popup__icon ">
					<use xlink:href="img/icons/sprite.svg#close"></use>
				</svg>
			</a>
			<h3 class="modal__title">
				Вывод предметов
			</h3>

			<form action="" class="form choice-object">
				<ul class="choice-object__list">
					<li class="choice-object__item">
						<div class="choice-object__number">#1</div>

						<div class="choice-object__title">
							Добавьте наш аккаунт в друзья
						</div>
						<div class="choice-object__in-block">
							<input type="text" class="choice-object__input choice-object__input_min form__input" disabled value="Sellix224121">
							<div class="btn btn_dark choice-object__btn">Скопировать</div>
						</div>
					</li>
					<li class="choice-object__item">
						<div class="choice-object__number">#2</div>

						<div class="choice-object__title">
							Введите свой никнейм
						</div>
						<div class="choice-object__in-block">
							<input type="text" class="choice-object__input form__input" placeholder="Sellix224121">
						</div>
					</li>
				</ul>
				<button type="submit" class="btn btn_danger choice-object__submit">Вывести предмет</button>



			</form>




		</div>
	</div>
</div>