<div class="popup" id="low_balance">
	<div class="popup__body">
		<div class="popup__content modal modal_popup modal_authorization">
			<a href="#" class="popup__close close-popup">
				<svg class="close-popup__icon ">
					<use xlink:href="img/icons/sprite.svg#close"></use>
				</svg>
			</a>

			<div class="modal-message">
				<div class="modal-message__img">
					<svg class="icon-error">
						<use xlink:href="img/icons/sprite.svg#error"></use>
					</svg>
				</div>
				<div class="modal-message__text">
					Недостаточно кредитов
				</div>
			</div>
		</div>
	</div>
</div>