<div class="popup" id="lvl_up">
	<div class="popup__body">
		<div class="popup__content modal modal_popup modal_authorization">
			<a href="#" class="popup__close close-popup">
				<svg class="close-popup__icon ">
					<use xlink:href="img/icons/sprite.svg#close"></use>
				</svg>
			</a>

			<div class="modal-message">
				<div class="modal-message__img">
					<svg class="icon-lvl-up">
						<use xlink:href="img/icons/sprite.svg#amber_case"></use>
					</svg>
				</div>
				<div class="modal-message__text">
					Уровень повышен! <br> Вам доступно 3 кейса “Янтарь”.
				</div>
			</div>
		</div>
	</div>
</div>