<div class="popup" id="authorization">
	<div class="popup__body">
		<div class="popup__content modal modal_popup modal_authorization">
			<a href="#" class="popup__close close-popup close-popup_close">
				<svg class="close-popup__icon ">
					<use xlink:href="img/icons/sprite.svg#close"></use>
				</svg>
			</a>
			<div class="modal-enter">
				<h3 class="modal__title modal-enter__title">
					Авторизуйтесь для продолжения
				</h3>
					<div class="modal-enter__body">
						<div class="modal-enter__row">
							<div class="modal-enter__item">
								<div class="modal-enter__img">
									<svg class="yt">
										<use xlink:href="img/icons/sprite.svg#youtube"></use>
									</svg>
								</div>
								<a href="##" class="btn btns_yt modal-enter__btn">Войти через Google</a>
							</div>
							<div class="modal-enter__item">
								<div class="modal-enter__img">
									<svg class="vk">
										<use xlink:href="img/icons/sprite.svg#vk"></use>
									</svg>
								</div>
								<a href="##" class="btn btns_vk modal-enter__btn">Войти через Вконтакте</a>
							</div>

						</div>

					</div>
			</div>





		</div>
	</div>
</div>