<div class="popup" id="cases">
  <div class="popup__body">
    <div class="popup__content modal modal_cases scrollbar-overflow">

      <a href="#" class="popup__close close-popup">
        <svg class="close-popup__icon ">
          <use xlink:href="img/icons/sprite.svg#close"></use>
        </svg>
      </a>
      <div class="modal-cases__wrapper scrollbar-overflow">
        <div class="modal-cases">
          <div class="modal-cases__head">
            <div class="modal-cases__title">Янтарный кейс</div>

            <div class="modal-cases__lvl">10+ LVL</div>
          </div>
          <div class="modal-cases__shadow">
            <div class="modal-cases__mum">x1</div>
            <div class="modal-cases__pointer"></div>

            <div class="modal-cases__case modal-case modal-case-overflow">
              <div class="modal-case-overflow__item">
                <div class="modal-case__wrapper">
                  <div class="modal-case__img">
                    <svg>
                      <use xlink:href="img/icons/sprite.svg#smile_bear"></use>
                    </svg>
                  </div>
                  <div class="modal-case__title">
                    Набор смайлов
                  </div>
                </div>
              </div>
              <div class="modal-case-overflow__item">
                <div class="modal-case__wrapper">
                  <div class="modal-case__img">
                    <svg>
                      <use xlink:href="img/icons/sprite.svg#smile_robot"></use>
                    </svg>
                  </div>
                  <div class="modal-case__title">
                    Набор смайлов
                  </div>
                </div>
              </div>
              <div class="modal-case-overflow__item">
                <div class="modal-case__wrapper">
                  <div class="modal-case__img">
                    <svg>
                      <use xlink:href="img/icons/sprite.svg#smile_vampire"></use>
                    </svg>
                  </div>
                  <div class="modal-case__title">
                    Набор смайлов
                  </div>
                </div>
              </div>
              <div class="modal-case-overflow__item">
                <div class="modal-case__wrapper">
                  <div class="modal-case__img">
                    <svg>
                      <use xlink:href="img/icons/sprite.svg#smile_unicorn"></use>
                    </svg>
                  </div>
                  <div class="modal-case__title">
                    Набор смайлов
                  </div>
                </div>
              </div>
              <div class="modal-case-overflow__item">
                <div class="modal-case__wrapper">
                  <div class="modal-case__img">
                    <svg>
                      <use xlink:href="img/icons/sprite.svg#smile_bear"></use>
                    </svg>
                  </div>
                  <div class="modal-case__title">
                    Набор смайлов
                  </div>
                </div>
              </div>
              <div class="modal-case-overflow__item">
                <div class="modal-case__wrapper">
                  <div class="modal-case__img">
                    <svg>
                      <use xlink:href="img/icons/sprite.svg#smile_robot"></use>
                    </svg>
                  </div>
                  <div class="modal-case__title">
                    Набор смайлов
                  </div>
                </div>
              </div>
              <div class="modal-case-overflow__item">
                <div class="modal-case__wrapper">
                  <div class="modal-case__img">
                    <svg>
                      <use xlink:href="img/icons/sprite.svg#smile_vampire"></use>
                    </svg>
                  </div>
                  <div class="modal-case__title">
                    Набор смайлов
                  </div>
                </div>
              </div>
              <div class="modal-case-overflow__item">
                <div class="modal-case__wrapper">
                  <div class="modal-case__img">
                    <svg>
                      <use xlink:href="img/icons/sprite.svg#smile_unicorn"></use>
                    </svg>
                  </div>
                  <div class="modal-case__title">
                    Набор смайлов
                  </div>
                </div>
              </div>

            </div>
          </div>





        </div>
        <div class="modal-case__open">
          <a href="##" class="btn btn_dark modal-case__btn btn_white">Открыть кейс</a>
          <div class="modal-case__timer timer" id="timerTwo">1:05</div>
        </div>
        <div class="modal-cases-all">
          <div class="modal-cases-all__case modal-case modal-case__content">
            <a href="##" class="modal-case__item">
              <div class="modal-case__wrapper">
                <div class="modal-case__img">
                  <svg>
                    <use xlink:href="img/icons/sprite.svg#smile_bear"></use>
                  </svg>
                </div>
                <div class="modal-case__title">
                  Набор смайлов
                </div>
              </div>
            </a>
            <a href="##" class="modal-case__item">
              <div class="modal-case__wrapper">
                <div class="modal-case__img">
                  <svg>
                    <use xlink:href="img/icons/sprite.svg#smile_robot"></use>
                  </svg>
                </div>
                <div class="modal-case__title">
                  Набор смайлов
                </div>
              </div>
            </a>
            <a href="##" class="modal-case__item">
              <div class="modal-case__wrapper">
                <div class="modal-case__img">
                  <svg>
                    <use xlink:href="img/icons/sprite.svg#smile_vampire"></use>
                  </svg>
                </div>
                <div class="modal-case__title">
                  Набор смайлов
                </div>
              </div>
            </a>
            <a href="##" class="modal-case__item">
              <div class="modal-case__wrapper">
                <div class="modal-case__img">
                  <svg>
                    <use xlink:href="img/icons/sprite.svg#smile_unicorn"></use>
                  </svg>
                </div>
                <div class="modal-case__title">
                  Набор смайлов
                </div>
              </div>
            </a>
            <a href="##" class="modal-case__item">
              <div class="modal-case__wrapper">
                <div class="modal-case__img">
                  <svg>
                    <use xlink:href="img/icons/sprite.svg#smile_vampire"></use>
                  </svg>
                </div>
                <div class="modal-case__title">
                  Набор смайлов
                </div>
              </div>
            </a>
            <a href="##" class="modal-case__item">
              <div class="modal-case__wrapper">
                <div class="modal-case__img">
                  <svg>
                    <use xlink:href="img/icons/sprite.svg#smile_unicorn"></use>
                  </svg>
                </div>
                <div class="modal-case__title">
                  Набор смайлов
                </div>
              </div>
            </a>

            <a href="##" class="modal-case__item">
              <div class="modal-case__wrapper">
                <div class="modal-case__img">
                  <svg>
                    <use xlink:href="img/icons/sprite.svg#smile_unicorn"></use>
                  </svg>
                </div>
                <div class="modal-case__title">
                  Набор смайлов
                </div>
              </div>
            </a>

            <a href="##" class="modal-case__item">
              <div class="modal-case__wrapper">
                <div class="modal-case__img">
                  <svg>
                    <use xlink:href="img/icons/sprite.svg#smile_unicorn"></use>
                  </svg>
                </div>
                <div class="modal-case__title">
                  Набор смайлов
                </div>
              </div>
            </a>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>