<div class="popup modal-manual" id="question">
	<div class="popup__body">
		<div class="popup__content modal modal_popup modal-manual__modal">
			<a href="#" class="popup__close close-popup">
				<svg class="close-popup__icon ">
					<use xlink:href="img/icons/sprite.svg#close"></use>
				</svg>
			</a>

			<div class="modal-question">
				<div class="modal-question__text">
					Вы действительно хотите продать этот предмет?
					<br>
					<div class="modal-question__rupture"></div>
					Валюта зачислится на ваш баланс.
				</div>
				<div class="modal-question__row">
					<a href="##" class="btn btn_danger modal-question__btn">
						Да
					</a>
					<a href="##" class="btn btn_dark modal-question__btn">
						Нет
					</a>
				</div>
			</div>



		</div>
	</div>
</div>