<div class="popup select-amount" id="selectAmountInput">
  <div class="popup__body">
    <div class="popup__content modal modal_select-amount modal_select-amount_input">

      <a href="#" class="popup__close close-popup">
        <svg class="close-popup__icon ">
          <use xlink:href="img/icons/sprite.svg#close"></use>
        </svg>
      </a>
      <div class="select-amount__s-am-input s-am-input">
        <h3 class="s-am-input__title">
          Ваш баланс в Дурак Онлайн
        </h3>

        <div class="s-am-input__input-block">
          <svg>
            <use xlink:href="img/icons/sprite.svg#dollar"></use>
          </svg>
          <input inputmode="numeric" class="s-am-input__input" placeholder="Введите ваш баланс в Дураке..." type="tel"
            step="1" name="add-sum" class="roulette__table-input">
          <div class="s-am-input__msg">Вы должны иметь минимум 100 кредитов!</div>
        </div>
      </div>
      <h3 class="modal__title select-amount__title">
        Выберите сумму
      </h3>

      <div class="scrollbar-overflow select-amount__content">
        <div class="mod-arrow select-amount__up">
          <svg>
            <use xlink:href="../img/icons/sprite.svg#arrow-slider"></use>
          </svg>
        </div>
        <div class="swiper select-amount__slider">
          <div class="swiper-wrapper select-amount__wrapper">
            <div class="swiper-slide select-amount__slide">
              <a href="##" class="select-amount__item">
                <div class="select-amount__img">
                  <img src="../img/gallery/card.png" alt="">
                </div>
                <div class="select-amount__value">
                  50К
                </div>
              </a>
              <a href="##" class="select-amount__item">
                <div class="select-amount__img">
                  <img src="../img/gallery/card.png" alt="">
                </div>
                <div class="select-amount__value">
                  100К
                </div>
              </a>
            </div>
            <div class="swiper-slide select-amount__slide">
              <a href="##" class="select-amount__item">
                <div class="select-amount__img">
                  <img src="../img/gallery/card.png" alt="">
                </div>
                <div class="select-amount__value">
                  250К
                </div>
              </a>
              <a href="##" class="select-amount__item">
                <div class="select-amount__img">
                  <img src="../img/gallery/card.png" alt="">
                </div>
                <div class="select-amount__value">
                  500К
                </div>
              </a>
            </div>
            <div class="swiper-slide select-amount__slide">
              <a href="##" class="select-amount__item">
                <div class="select-amount__img">
                  <img src="../img/gallery/card.png" alt="">
                </div>
                <div class="select-amount__value">
                  1M
                </div>
              </a>
              <a href="##" class="select-amount__item">
                <div class="select-amount__img">
                  <img src="../img/gallery/card.png" alt="">
                </div>
                <div class="select-amount__value">
                  2M
                </div>
              </a>
            </div>
            <div class="swiper-slide select-amount__slide">
              <a href="##" class="select-amount__item">
                <div class="select-amount__img">
                  <img src="../img/gallery/card.png" alt="">
                </div>
                <div class="select-amount__value">
                  5M
                </div>
              </a>
              <a href="##" class="select-amount__item">
                <div class="select-amount__img">
                  <img src="../img/gallery/card.png" alt="">
                </div>
                <div class="select-amount__value">
                  10M
                </div>
              </a>
            </div>

          </div>
        </div>
        <div class="mod-arrow select-amount__down">
          <svg>
            <use xlink:href="../img/icons/sprite.svg#arrow-slider"></use>
          </svg>
        </div>
      </div>


    </div>

  </div>
</div>