<div class="popup modal-manual" id="balanceOk">
	<div class="popup__body">
		<div class="popup__content modal modal_popup modal_message modal-manual__modal">
			<div class="modal-manual__queries">
				Заявка #22131
			</div>
			<a href="#" class="popup__close close-popup">
				<svg class="close-popup__icon ">
					<use xlink:href="img/icons/sprite.svg#close"></use>
				</svg>
			</a>

			<div class="modal-message">
				<div class="modal-message__img">
					<svg class="icon-ok">
						<use xlink:href="img/icons/sprite.svg#item"></use>
					</svg>
				</div>
				<div class="modal-message__text">
					Баланс успешно пополненна <br> 200K
				</div>
			</div>
		</div>
	</div>
</div>